{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div class="w-full h-full flex flex-col gap-12 mt-12">
        {{ form_errors(eventForm) }}

        {{ form_start(eventForm) }}
            <div class="flex gap-8">
                <div class="flex flex-col gap-2 mb-4 w-full font-semibold">
                    {{ form_label(eventForm.name) }}
                    <input type="text" name="{{ field_name(eventForm.name) }}" value="{{ field_value(eventForm.name) }}" placeholder="{{ field_label(eventForm.name) }}" class="input-event">
                    {{ form_errors(eventForm.name) }}
                </div>
                <div class="flex flex-col gap-2 mb-4 w-full font-semibold">
                    {{ form_label(eventForm.place) }}
                    <input type="text" name="{{ field_name(eventForm.place) }}" value="{{ field_value(eventForm.place) }}" placeholder="{{ field_label(eventForm.place) }}" class="input-event">
                    {{ form_errors(eventForm.name) }}
                </div>
            </div>
            <div class="flex gap-8">
                <div class="flex flex-col gap-2 mb-4 w-full font-semibold">
                    {{ form_label(eventForm.date) }}
                    <input type="date" name="{{ field_name(eventForm.date) }}" value="{{ field_value(eventForm.date) }}" placeholder="{{ field_label(eventForm.date) }}" class="input-event">
                    {{ form_errors(eventForm.date) }}
                </div>
                <div class="flex flex-col gap-2 mb-4 w-full font-semibold">
                    {{ form_label(eventForm.price) }}
                    <input type="text" name="{{ field_name(eventForm.price) }}" value="{{ field_value(eventForm.price) }}" placeholder="{{ field_label(eventForm.price) }}" class="input-event">
                    {{ form_errors(eventForm.name) }}
                </div>
            </div>
            <div>
                {{ form_label(eventForm.artists) }}
                {{ form_widget(eventForm.artists) }}
            </div>

            <button type="submit" class="btn">Create</button>
        {{ form_end(eventForm) }}
    </div>
{% endblock %}